@font-face {
  font-family: Hagrid;
  src: url("../fonts/Hagrid-Text-Extrabold-trial.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Responsive-------------------------------------------------
@mixin bpf($min: -1, $max: -1) {
  @if $min ==-1 {
    @media only screen and (max-width: $max) {
      @content;
    }
  } @else if $max ==-1 {
    @media only screen and (min-width: $min) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}

// Alignement-------------------------------------------------
@mixin alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin container {
  max-width: 1280px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include bpf($max: $s) {
    max-width: 300px;
  }

  @include bpf($min: $s, $max: $m) {
    max-width: 660px;
  }

  @include bpf($min: $m, $max: $xl) {
    max-width: 990px;
  }
}

@mixin counter {
  display: flex;

  &_button-before {
    padding: 5px 10px;
    border-radius: 0px 0px 0px 4px;
    border: none;
    font-family: $font-base;
    color: $green-default-primary-fg;
    background-color: $green-default-primary-bg;

    @include alignCenter;
  }

  &_text {
    padding: 5px 26px;
    background-color: #fff;
  }

  &_button-after {
    padding: 5px 10px;
    border-radius: 0px 4px 0px 0px;
    border: none;
    font-family: $font-base;
    color: $green-default-primary-fg;
    background-color: $green-default-primary-bg;
    @include alignCenter;
  }
}

// Container-------------------------------------------------
$container: 0 140px;
$responsive-container: 0 20px;

// Breakpoints-------------------------------------------------
$xs: 400px;
$ms: 576px;
$s: 760px;
$m: 980px;
$l: 1200px;
$xl: 1440px;

// Padding-------------------------------------------------
$space-xs: 8px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 40px;
$space-xxl: 48px;
$space-xxxl: 56px;
$space-section: 96px;

// Border-radius-------------------------------------------------
$ext: 4px;
$int: 2px;

// Fonts-------------------------------------------------
$font-base: "Poppins", sans-serif;
$font-title: "Hagrid";
$font-subtitle: "Homemade Apple", sans-serif;

// Font-size-------------------------------------------------
$h1-hero: 56px;
$h1: 40px;
$h2: 32px;
$h3: 20px;
$text: 16px;

// Font-weight-------------------------------------------------
$weight-300: 300;
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-800: 800;

// Colors-------------------------------------------------
$color-title: hsl(120, 35%, 20%);
$green-bg-color: hsl(120, 35%, 20%);
$header-bg-color: hsl(36, 24%, 96%);
$card-color: hsl(21, 49%, 88%);

.white {
  color: #fff;
}

// Buttons-color-------------------------------------------------
//Default
// --Background
$green-default-primary-bg: hsl(119, 36%, 34%);
$green-default-secondary-bg: hsl(117, 37%, 90%);
$green-default-ghost-bg: hsla(119, 36%, 30%, 0);
$green-default-outline-bg: hsla(119, 36%, 30%, 0);
// --Foreground
$green-default-primary-fg: hsl(120, 36%, 95%);
$green-default-secondary-fg: hsl(119, 36%, 30%);
$green-default-ghost-fg: hsl(119, 35%, 40%);
$green-default-outline-fg: hsl(119, 35%, 40%);

// Hover
// --Background
$green-hover-primary-bg: hsl(119, 36%, 20%);
$green-hover-secondary-bg: hsl(119, 36%, 34%);
$green-hover-ghost-bg: hsl(117, 37%, 90%);
$green-hover-outline-bg: hsla(119, 36%, 30%, 0);
// --Foreground
$green-hover-primary-fg: hsl(120, 36%, 95%);
$green-hover-secondary-fg: hsl(119, 36%, 95%);
$green-hover-ghost-fg: hsl(119, 36%, 30%);
$green-hover-outline-fg: hsl(119, 35%, 40%);

// General
body {
  background-color: hsl(36, 24%, 96%);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: $text;
  font-family: $font-base;
}

p,
ul,
li {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.image-top {
  @include column;

  img {
    width: 200px;
  }
}

// Title-------------------------------------------------
h1 {
  color: $color-title;
  font-family: $font-title;
  margin: 0;

  @include bpf($max: $m) {
    font-size: $h2;
  }
}

.h1-title {
  text-align: center;
  margin: $space-xxl auto;
}

h2 {
  font-family: $font-title;
  font-size: $h2;
  color: $color-title;
  margin: 0;

  @include bpf($max: $m) {
    font-size: $h3;
  }
}

h3 {
  font-family: $font-title;
  font-size: $h3;
  color: $color-title;
  margin: 0;

  @include bpf($max: $m) {
    font-size: $text;
  }
}
h4 {
  font-family: $font-base;
  font-size: 18px;
  font-weight: $weight-600;
  margin: 0;
}
.subtitle {
  font-family: $font-subtitle;
  margin-bottom: $space-xl;
}

// Button-------------------------------------------------
.btn {
  @include alignCenter;
  padding: 10px 25px;
  gap: 10px;
  border-radius: 0px 4px;
  border: none;
  font-family: $font-base;
  font-size: 16px;
  font-weight: $weight-500;
  cursor: pointer;
  transition: transform 1s;

  &:hover {
    transform: scale(1.06);
  }
}

.primary {
  color: $green-default-primary-fg;
  background-color: $green-default-primary-bg;

  &:hover {
    color: $green-hover-primary-fg;
    background-color: $green-hover-primary-bg;
  }
}

.secondary {
  color: $green-default-secondary-fg;
  background-color: $green-default-secondary-bg;

  &:hover {
    color: $green-hover-secondary-fg;
    background-color: $green-hover-secondary-bg;
  }
}

.ghost {
  color: $green-default-ghost-fg;
  background-color: $green-default-secondary-bg;

  &:hover {
    color: $green-hover-ghost-fg;
    background-color: $green-hover-ghost-bg;
  }
}
// Breacrumb---------------------------------------------------------
.breadcrumb {
  @include container;
  display: flex;
  gap: 10px;
  margin-top: 40px;

  &_current {
    font-weight: $weight-600;
  }

  &_previous {
    &:after {
      display: block;
      content: "";
      border-bottom: solid 4px $green-default-primary-bg;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      border-radius: 5rem;
    }

    &:hover:after {
      transform: scaleX(1);
    }

    &:hover {
      color: $green-default-primary-bg;
    }
  }
}

// Header---------------------------------------------------------

.header {
  height: 60px;
  background-color: $header-bg-color;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
  position: sticky;
  top: 0;
  z-index: 5;

  .header-content {
    @include container;
    display: flex;
    justify-content: space-between;
    height: inherit;

    .header-left {
      gap: 80px;

      @include alignCenter;

      .header-logo {
        cursor: pointer;
        background-color: $green-bg-color;
        padding: 10px;
        @include alignCenter;
        z-index: 1;
        position: relative;
      }

      .header-links {
        display: flex;
        gap: $space-l;

        @include bpf($max: $m) {
          display: none;
        }

        .header-link {
          text-decoration: none;
          color: black;
          font-weight: $weight-600;
          width: max-content;
          transition: transform 1.4s;
          padding: 6px;

          &:after {
            display: block;
            content: "";
            border-bottom: solid 4px $green-default-primary-bg;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
            border-radius: 5rem;
          }

          &:hover:after {
            transform: scaleX(1);
          }

          &:hover {
            color: $green-default-primary-bg;
          }
        }
      }
    }

    .header-right {
      gap: $space-xxxl;
      @include alignCenter;

      .header-searchbar {
        position: relative;
        #searchbar {
          display: flex;
          align-items: center;
          width: 160px;
          padding: 4px 15px 4px 10px;
          border-radius: 4px;
          border: 1px solid rgb(197, 197, 197);
          position: relative;
          font-family: $font-base;
        }

        .searchbar-icon {
          position: absolute;
          top: 8px;
          right: 11px;
          height: 15px;
        }

        @include bpf($max: $m) {
          display: none;
        }
      }

      .header-icon {
        @include alignCenter;
        gap: $space-l;

        .bag,
        .user {
          text-decoration: none;
          color: black;
          font-weight: $weight-600;
          transition: transform 1.4s;
          height: 20px;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }

        .user {
          @include bpf($max: $m) {
            display: none;
          }
        }

        .hamburger-menu {
          position: relative;
          display: none;

          @include bpf($max: $m) {
            display: block;
          }
        }
      }
    }
  }
}

/* Burger */

.menu_box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 60px;
  right: 31px;
  list-style: none;
  width: 100%;
  background-color: hsl(36, 24%, 96%);
  padding-top: 46px;
  padding-bottom: 100px;
}

.menu_item {
  display: block;
  padding: 12px 24px;
  font-weight: 600px;
  color: #000;
  text-decoration: none;
}

.menu_item:hover {
  background-color: #000;
}

#menu_toggle:checked ~ .menu_box {
  visibility: visible;
}

.menu_btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 17px;
  right: 116px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  transition: transform(1.4s);

  & > span,
  & > span::before,
  & > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition-duration: 1.4s;
  }

  & > span::before {
    content: "";
    top: -8px;
  }
  & > span::after {
    content: "";
    top: 8px;
  }
}

#menu_toggle {
  opacity: 0;
  height: 20px;
  width: 28px;
}

// Footer---------------------------------------------------------
.footer {
  height: 340px;
  width: 100%;

  .footer-content {
    @include container;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: $space-l 0;

    @include bpf($max: $m) {
      flex-wrap: wrap;
      gap: 60px;
      justify-content: flex-start;
    }

    @include bpf($max: $s) {
      flex-direction: column;
      gap: $space-xxl;
      justify-content: flex-start;
    }

    &_sitemap {
      @include column;
      .sitemap-title {
        margin-bottom: $space-xl;
      }

      .sitemap-link {
        text-decoration: none;
        color: #000;
        font-weight: $weight-600;
        margin-bottom: $space-s;
        width: fit-content;

        &:after {
          display: block;
          content: "";
          border-bottom: solid 4px $green-default-primary-bg;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
          border-radius: 5rem;
        }

        &:hover:after {
          transform: scaleX(1);
        }

        &:hover {
          color: $green-default-primary-bg;
        }
      }
    }

    &_contact {
      .contact-space {
        margin-bottom: $space-s;
      }
      .contact-title {
        margin-bottom: $space-xl;
      }

      .contact-address {
        max-width: 200px;
      }

      .contact-bold {
        font-weight: $weight-600;
      }
    }

    &_socials {
      .socials-title {
        margin-bottom: $space-xl;
      }
      .socials-content {
        display: flex;
        gap: $space-s;
      }
    }
  }

  .footer-legals {
    display: flex;
    justify-content: center;
    gap: $space-s;
    padding: $space-s 0;
    background-color: $green-bg-color;

    @include bpf($max: $m) {
      align-items: flex-start;
      gap: 12px;
      padding: $space-xs $space-s;
      background-color: hsl(120, 35%, 20%);
      @include column;
    }

    &_link {
      text-decoration: none;
      color: hsl(0, 0%, 100%);
    }

    &_dot {
      @include bpf($max: $m) {
        display: none;
      }
    }
  }
}

//-----------------------------HOME PAGE----------------------------//
// Hero---------------------------------------------------------
#hero {
  height: 622px;
  position: relative;
  margin-bottom: $space-section;

  @include container;

  @include bpf($max: $s) {
    @include column;
    height: 726px;
  }

  @include bpf($min: $s, $max: $m) {
    display: flex;
    height: 500px;
  }

  @include bpf($min: $l) {
    margin-top: $space-xxxl;
    margin-bottom: 100px;
  }

  .hero-content {
    width: max-content;
    height: 631px;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    @include column;

    @include bpf($max: $m) {
      height: auto;
      max-width: 300px;
    }

    @include bpf($max: $s) {
      margin-top: 332px;
    }

    &_title {
      font-size: $h1-hero;
      font-family: $font-title;
      max-width: 480px;
      color: $color-title;

      @include bpf($max: $m) {
        font-size: $h1;
      }
    }

    &_text {
      max-width: 340px;
      margin-top: $space-xs;
    }

    &_button {
      background-color: $green-default-primary-bg;
      color: $green-default-primary-fg;
      display: flex;
      margin-top: 80px;

      &:hover {
        background-color: $green-hover-primary-bg;
        color: $green-hover-primary-fg;
      }

      @include bpf($max: $s) {
        margin-top: $space-l;
      }
    }
  }

  .hero-image {
    height: 450px;
    position: absolute;
    top: -100px;
    right: -106px;

    @include bpf($max: $m) {
      top: -48px;
      right: -111px;
    }

    @include bpf($max: $s) {
      top: -127px;
      right: -112px;
    }

    @include bpf($min: $m, $max: $xl) {
      top: -52px;
      right: -114px;
    }

    transition: transform 1s;

    &:hover {
      transform: scale(1.02);
    }

    &_principal {
      position: absolute;
      top: 169px;
      right: 115px;
      z-index: 4;

      @include bpf($max: $m) {
        width: 274px;
      }

      @include bpf($max: $s) {
        width: 251px;
      }
    }

    &_top {
      position: absolute;
      top: 149px;
      right: 456px;
      z-index: 2;
      width: 280px;

      @include bpf($max: $m) {
        width: 154px;
        top: 148px;
        right: 297px;
      }

      @include bpf($max: $s) {
        width: 131px;
        top: 180px;
        right: 280px;
      }

      @include bpf($min: $m, $max: $xl) {
        top: 160px;
        right: 425px;
        width: 218px;
      }
    }

    &_bottom {
      position: absolute;
      right: 389px;
      top: 427px;
      z-index: 3;

      @include bpf($max: $m) {
        width: 161px;
        right: 256px;
        top: 306px;
      }

      @include bpf($max: $s) {
        width: 132px;
        right: 256px;
        top: 306px;
      }

      @include bpf($min: $m, $max: $xl) {
        right: 339px;
        top: 359px;
        width: 244px;
      }
    }

    &_background {
      position: absolute;
      z-index: 1;
      top: 158px;
      right: 115px;

      @include bpf($max: $m) {
        top: 164px;
        width: 332px;
      }

      @include bpf($max: $s) {
        top: 164px;
        width: 284px;
      }

      @include bpf($min: $m, $max: $xl) {
        width: 529px;
      }
    }
  }
}

// Selection---------------------------------------------------------
.selection {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space-section;

  @include container;

  &_button {
    background-color: $green-default-primary-bg;
    color: $green-default-primary-fg;
    display: flex;
    align-items: center;
    margin: $space-xl auto;
    width: max-content;

    &:hover {
      background-color: $green-hover-primary-bg;
      color: $green-hover-primary-fg;
    }

    @include bpf($min: $s, $max: $m) {
      margin: $space-xl auto;
    }
  }

  .selection-container {
    flex-wrap: wrap;

    @include alignCenter;

    .selection-content {
      gap: $space-xl;

      @include alignCenter;

      .selection-bigcard {
        background-color: $card-color;
        background-image: url(../img/graphics/mask-product.png);
        background-size: auto;
        position: relative;
        width: 286px;
        flex-direction: column;
        border-radius: 0 $ext 0 $ext;
        transition: transform 1s;
        cursor: pointer;

        @include alignCenter;

        @include bpf($max: $m) {
          display: none;
        }

        &:hover {
          transform: scale(1.06);
        }

        &_icon {
          position: absolute;
          top: $space-s;
          z-index: 3;
          left: $space-s;
        }

        &_img {
          height: 244px;
          position: relative;
          z-index: 1;
          display: flex;
          justify-content: center;

          @include bpf($min: $m, $max: $xl) {
            height: 272px;
          }
        }

        &_bg {
          position: absolute;
          top: -23px;
        }

        .selection-infos {
          background-color: hsl(0, 0%, 100%);
          padding: 40px $space-m 20px $space-m;
          width: -moz-available;

          @include bpf($min: $m, $max: $xl) {
            width: -moz-available;
          }

          &_title {
            font-weight: $weight-600;
          }

          &_text {
          }

          &_note {
            display: flex;
            gap: $space-xs;
            margin-top: 50px;
            align-items: center;

            @include bpf($min: $m, $max: $xl) {
              margin-top: $space-m;
            }

            .note-icon {
              display: flex;
            }

            .note-text {
            }
          }

          &_price {
            font-weight: $weight-600;
            width: fit-content;
            background-color: hsl(120, 35%, 20%);
            color: white;
            padding: $space-xs;
            position: absolute;
            top: 226px;
            right: 19px;
            border-radius: 4px 0 4px 0;
            z-index: 1;

            @include bpf($min: $m, $max: $xl) {
              top: 254px;
            }
          }
        }
      }

      #selection-right {
        display: flex;
        flex-wrap: wrap;
        gap: 35px 27px;

        @include bpf($max: $m) {
          gap: 12px;
        }

        @include bpf($max: $s) {
          flex-direction: column;
          flex-wrap: nowrap;
        }

        .selection-shortcard {
          background-color: $card-color;
          background-image: url(../img/graphics/mask-product.png);
          background-size: contain;
          background-position: inherit;
          position: relative;
          height: 100%;
          width: 47%;
          border-radius: 0 $ext 0 $ext;
          transition: transform 1s;
          cursor: pointer;

          @include alignCenter;

          &:hover {
            transform: scale(1.06);
          }

          @include bpf($min: $s, $max: $m) {
            width: 49%;
          }

          @include bpf($max: $s) {
            width: 100%;
            background-position: inherit;
          }

          &_icon {
            position: absolute;
            top: 12px;
            z-index: 3;
            left: 12px;
            height: 16px;
          }

          &_img {
            height: auto;
            width: 141px;
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;

            @include bpf($min: $m, $max: $xl) {
              width: 108px;
            }

            @include bpf($min: $s, $max: $m) {
              width: 150px;
            }
          }

          &_bg {
            position: absolute;
            top: -23px;
          }

          .shortcard-infos {
            background-color: hsl(0, 0%, 100%);
            padding: 10px 24px;
            width: 100%;
            height: 100%;
            position: relative;

            @include bpf($max: $xs) {
              padding: $space-xs $space-s;
            }

            &_title {
              font-weight: $weight-600;

              @include bpf($max: $m) {
                height: 52px;
              }
            }

            &_text {
              height: 50px;

              @include bpf($max: $m) {
                height: 90px;
                font-size: 14px;
              }
            }

            &_note {
              display: flex;
              gap: 10px;
              margin-top: 27px;
              margin-bottom: 50px;

              @include bpf($min: $s, $max: $m) {
                gap: 4px;
                font-size: 14px;
                margin-top: $space-m;
              }

              @include bpf($max: $s) {
                justify-content: space-between;
                gap: 2px;
              }

              .note-icon {
                .star {
                  height: 10px;
                }
              }

              .note-text {
                font-size: 14px;
              }
            }

            &_price {
              font-weight: $weight-600;
              width: fit-content;
              background-color: hsl(120, 35%, 20%);
              color: white;
              padding: 8px;
              position: absolute;
              bottom: 13px;
              left: 24px;
              border-radius: 4px 0 4px 0;
              z-index: 1;

              @include bpf($min: $xs, $max: $xl) {
                left: 24px;
              }
            }
          }
        }
      }
    }
  }
}

//Category---------------------------------------------------------

#category {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space-section;
  @include container;

  .category-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @include bpf($min: $s, $max: $m) {
      gap: 16px;
    }

    @include bpf($max: $s) {
      @include column;
      gap: $space-l;
    }
  }

  .category-content_plant {
    @include bpf($min: $s, $max: $m) {
      width: 32%;
    }

    @include bpf($max: $s) {
      width: 100%;
    }
  }

  .plant-photo {
    transition: transform 1s;
    filter: brightness(1);
    @include alignCenter;

    @include bpf($max: $m) {
      width: 100%;
    }
  }

  .plant-photo:hover {
    filter: brightness(1.2);
    transform: scale(1.06);
  }

  .plant-text {
    display: flex;
    justify-content: start;
    gap: $space-s;
  }

  .cat-text {
    color: #000;
    font-weight: $weight-600;
    text-decoration: none;
  }

  .category_button {
    background-color: $green-default-primary-bg;
    color: $green-default-primary-fg;
    display: flex;
    align-items: center;
    margin: $space-xl auto;
    width: max-content;

    &:hover {
      background-color: $green-hover-primary-bg;
      color: $green-hover-primary-fg;
    }

    @include bpf($min: $s, $max: $m) {
      margin: $space-xl auto;
    }
  }
}

//Advices---------------------------------------------------------
.advices {
  @include container;
  margin-bottom: $space-section;
  .advices-cards {
    @include alignCenter;
    justify-content: space-between;
    gap: 40px;
  }

  .advices-cards_content {
    @include column;
    gap: 0;
    position: relative;
    transition: transform 1s;
    cursor: pointer;

    &:hover {
      transform: scale(1.06);
    }
  }

  .content-photo {
    height: 300px;
    width: 100%;
    border-radius: 0 4px 0 4px;
    object-fit: cover;
  }

  .content-text {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    padding: $space-l;
    background-color: white;
  }

  .content-category {
    padding: 2px 24px;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    width: fit-content;
    bottom: 98px;
    position: absolute;
    left: $space-l;
  }

  .advices-tag {
    background-color: #214521;
  }

  .ideas-tag {
    background-color: #f08577;
  }
  .advices_button {
    background-color: $green-default-primary-bg;
    color: $green-default-primary-fg;
    display: flex;
    align-items: center;
    margin: $space-xl auto;
    width: max-content;

    &:hover {
      background-color: $green-hover-primary-bg;
      color: $green-hover-primary-fg;
    }

    @include bpf($min: $s, $max: $m) {
      margin: $space-xl auto;
    }
  }
}

//Contact---------------------------------------------------------
#contact {
  background-color: #214521;
  background-image: url(../img/background/contact-plant.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 $ext 0 $ext;
  height: 655px;
  color: #fff;
  margin-bottom: $space-section;
  @include container;

  @include bpf($max: $s) {
    height: 860px;
  }

  .contact-title {
    color: #fff;
    padding-left: $space-xl;
    padding-top: $space-xxxl;
  }

  .contact-subtitle {
    margin-left: $space-xl;
  }

  .contact-content {
    display: flex;
    margin: $space-xl;

    @include bpf($max: $s) {
      @include column;
      gap: $space-xl;
    }
  }

  .frame {
    width: 50%;
    height: 400px;

    @include bpf($max: $s) {
      width: 100%;
      height: 300px;
    }
  }

  .contact-content_informations {
    @include column;
    gap: $space-l;
    margin-left: $space-xxl;

    @include bpf($max: $s) {
      margin-left: 0;
    }
  }

  .informations-group_title {
    font-weight: $weight-600;
  }

  .informations-group_text {
    max-width: 240px;

    @include bpf($max: $s) {
      width: 100%;
    }
  }
}

//Informations---------------------------------------------------------
.informations {
  margin-bottom: $space-section;
  margin-top: $space-section;
  @include container;

  .informations-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 99px;

    @include bpf($max: $s) {
      @include column;
      gap: $space-xl;
    }
  }

  .informations-content_group {
    @include alignCenter;
    @include column;
    gap: $space-l;

    @include bpf($max: $s) {
      @include column;
      gap: $space-s;
    }
  }

  .group-icon {
    width: 73px;
    height: 55px;
  }

  .group-text {
    color: black;
    font-size: $h3;
    font-weight: $weight-600;
    width: 240px;
    text-align: center;
    color: $color-title;

    @include bpf($max: $m) {
      font-size: $text;
    }
  }
}

// Newsletter---------------------------------------------------------
.newsletter {
  height: auto;
  display: block;
  margin: $space-xl 140px;
  color: white;
  background-color: $green-bg-color;
  background-image: url(../img/background/newsletter-plant.png);
  background-position-x: -562px;
  background-repeat: no-repeat;
  background-size: 3051px;
  border-radius: 0 $ext 0 $ext;
  background-position-y: -575px;
  margin-bottom: $space-section;

  @include container;

  .newsletter-container {
    padding: $space-xl;
    justify-content: center;
    align-items: flex-start;
    @include column;

    &_subtitle {
      font-family: $font-subtitle;
      line-height: 24px;
      margin-top: $space-s;
    }

    &_mail {
      @include column;
      gap: 4px;
      margin-top: 30px;

      .input_group {
        display: flex;

        @include bpf($max: $s) {
          @include column;
          gap: $space-s;
        }

        .input {
          border: none;
          padding: 15px 50px 15px 15px;
          border-radius: 0px 0px 0px 4px;
          background: #fff;
          font-size: 16px;
          position: relative;
          z-index: 1;

          @include bpf($max: $s) {
            border-radius: 0px $ext 0px $ext;
            padding: 10px 12px 10px 10px;
            font-size: 14px;
          }
        }

        .newsletter-btn {
          border-radius: 0px 4px 0px 0px;
          background-color: transparent;
          border: solid 2px #fff;
          color: #fff;

          &:hover {
            color: #fff;
            background-color: #397638;
          }

          @include bpf($max: $s) {
            padding: 5px 10px;
            border-radius: 0px $ext 0px $ext;
            position: initial;
            width: fit-content;
            font-size: 14px;
          }
        }
      }
    }
  }
}

//-----------------------------SEARCH PAGE----------------------------//
// Filters-------------------------------------------------------
.filters {
  @include container;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: $space-xl auto;

  &_right {
    display: flex;
    gap: 40px;
  }
  #sort,
  #filter,
  #categoryFilter {
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    background-color: white;
  }
}

// List plants---------------------------------------------------------
#list-plants {
  @include container;
  @include alignCenter;
  justify-content: flex-start;
  margin-bottom: $space-xxl;
  flex-wrap: wrap;
  gap: 30px;

  @include bpf($max: $s) {
    gap: 10px;
  }
}
#resultCount {
  @include container;
  font-weight: 700;
}
.search-link {
  width: 100%;
}
.search-content {
  background-color: $card-color;
  background-image: url("../img/graphics/mask-product.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 23%;
  flex-direction: column;
  border-radius: 0 $ext 0 $ext;
  transition: transform 1s;
  cursor: pointer;

  @include alignCenter;

  @include bpf($min: $m, $max: $xl) {
    width: 30%;
  }

  @include bpf($min: $s, $max: $m) {
    width: 47%;
  }

  @include bpf($max: $s) {
    width: 48%;
  }

  &_icon {
    position: absolute;
    top: $space-s;
    z-index: 3;
    left: $space-s;

    @include bpf($max: $s) {
      height: 16px;
    }
  }

  &_img {
    height: 244px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    @include bpf($min: $m, $max: $xl) {
      height: 272px;
    }

    @include bpf($max: $s) {
      width: 100%;
      margin-top: $space-xs;
      height: 200px;
      object-fit: contain;
    }
  }

  &_infos {
    background-color: hsl(0, 0%, 100%);
    padding: 40px $space-m 20px $space-m;
    width: 84%;
    @include column;

    @include bpf($min: $s, $max: $m) {
      width: 85%;
    }

    @include bpf($max: $s) {
      font-size: 14px;
      padding: 32px 10px 20px 10px;
      width: 86%;
      height: 140px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .infos-title {
      font-weight: $weight-600;
    }

    .infos-text {
      height: 50px;

      @include bpf($max: $s) {
        display: none;
      }
    }

    .infos-note {
      display: flex;
      gap: 10px;
      margin-top: 27px;
      margin-bottom: 50px;

      @include bpf($min: $s, $max: $m) {
        gap: 4px;
        font-size: 14px;
        margin-top: $space-m;
      }

      @include bpf($max: $s) {
        justify-content: space-between;
        gap: 2px;
        margin-top: 0;
        margin-bottom: 20px;
      }

      &_icon {
        .star {
          @include bpf($max: $s) {
            height: 10px;
          }
        }
      }

      &_text {
      }
    }

    .infos-price {
      font-weight: $weight-600;
      width: fit-content;
      background-color: hsl(120, 35%, 20%);
      color: white;
      padding: $space-xs;
      position: absolute;
      top: 224px;
      right: 19px;
      border-radius: 4px 0 4px 0;
      z-index: 1;

      @include bpf($min: $m, $max: $xl) {
        top: 254px;
      }

      @include bpf($max: $s) {
        top: 187px;
      }
    }

    .infos-button {
      background-color: $green-default-secondary-bg;
      color: $green-default-secondary-fg;

      @include bpf($max: $s) {
        font-size: 14px;
        padding: 4px;
      }

      &:hover {
        background-color: $green-hover-primary-bg;
        color: $green-hover-primary-fg;
      }
    }
  }
}
// Button---------------------------------------------------------

.list-button {
  background-color: $green-default-primary-bg;
  color: $green-default-primary-fg;
  @include alignCenter;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $space-section;

  @include bpf($max: $s) {
    font-size: 14px;
    padding: 4px;
  }

  &:hover {
    background-color: $green-hover-primary-bg;
    color: $green-hover-primary-fg;
  }
}
//-----------------------------PRODUCT PAGE----------------------------//
// Product---------------------------------------------------------

#product {
  @include container;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 48px;

  @include bpf($max: $m) {
    @include column;
  }

  .product-left {
    display: flex;
    gap: 20px;
    width: 60%;
    height: auto;
    background-color: hsl(21, 49%, 88%);
    background-image: url("../img/graphics/mask-product.png");
    background-size: contain;
    background-position: inherit;
    background-repeat: no-repeat;
    justify-content: center;
    border-radius: 0 4px 0 4px;

    @include bpf($max: $m) {
      width: 100%;
    }

    &_img {
      height: auto;

      @include bpf($max: $m) {
        width: inherit;
      }
    }
  }

  .product-content {
    width: 30%;
    @include column;
    gap: 40px;

    @include bpf($max: $m) {
      width: 100%;
    }
    &_title {
      #title {
        margin: 0;
        text-align: left;
      }

      .informations-product {
        display: flex;
        align-items: center;
        gap: 20px;

        &_link {
          color: #000000;
        }

        &_separator {
          color: #e0e0e0;
        }

        &_description {
          text-decoration: underline;
        }
        &_reviews {
          text-decoration: underline;
        }
      }
    }

    &_price {
      @include column;
      gap: 10px;

      .price {
        font-size: $h3;
        font-weight: $weight-700;
      }

      .counter {
        @include counter;
      }
    }

    &_shop {
      @include column;
      gap: 25px;

      .buttons {
        width: 100%;
        @include column;
        gap: 10px;

        &_cart {
          background-color: $green-default-primary-bg;
          color: $green-default-primary-fg;
          width: 100%;

          &:hover {
            background-color: $green-hover-primary-bg;
            color: $green-hover-primary-fg;
          }
        }

        &_favorites {
          display: flex;
          width: 100%;
        }
      }

      .delivery {
        @include column;
        gap: 4px;

        @include bpf($max: $s) {
          font-size: 14px;
        }

        .delivery-content {
          background-color: #fff;
          padding: 7px 18px;
          @include alignCenter;
          justify-content: space-between;
          &_left {
            display: flex;
            gap: $space-m;

            .left-text {
              .text-top {
              }
              .text-bottom {
                color: $green-default-primary-bg;
                font-weight: $weight-300;
              }
            }
            .left-date {
              color: $green-default-primary-bg;
              font-weight: $weight-300;
            }
          }
        }
      }
    }
  }
}

#description {
  @include container;
  margin: $space-section auto;

  .description-title {
    margin-bottom: $space-l;
  }

  .description-content {
    display: flex;
    justify-content: space-between;
    gap: $space-m;

    @include bpf($max: $m) {
      @include column;
    }
  }

  .description-content_item {
    background-color: #fff;
    padding: $space-m;
  }

  .item-title {
    margin-bottom: $space-l;
  }

  .item-subtitle {
    margin-bottom: $space-xs;
  }

  .item-text {
    margin-bottom: $space-l;
  }
}

#reviews {
  @include container;
  margin-bottom: $space-section;

  .reviews-stars {
    display: flex;
    margin-top: $space-s;
  }

  .reviews-content {
    margin-top: $space-s;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include bpf($max: $m) {
      @include column;
    }
  }

  .reviews-content_client {
    padding: $space-m;
    background-color: #fff;
    border-radius: 4px;
  }

  .client-text {
    margin-top: $space-s;
  }
}

.suggest {
  @include container;
  margin-bottom: $space-section;

  .suggest-container_title {
    margin-bottom: $space-xl;
  }

  #suggest-plants {
    display: flex;
    margin-bottom: $space-xxl;
    gap: 30px;
    overflow: scroll;

    @include bpf($max: $s) {
      gap: 10px;
    }
  }
}

#suggest-img {
  @include bpf($max: $s) {
    width: 150px;
  }

  @include bpf($min: $s, $max: $m) {
    width: 212px;
    object-fit: contain;
    height: 200px;
  }

  @include bpf($min: $m) {
    height: 313px;
    width: 285px;
    object-fit: contain;
  }
}

#suggest-infos {
  @include bpf($min: $s, $max: $m) {
    width: 78%;
  }
}

#price {
  @include bpf($min: $s, $max: $m) {
    top: 181px;
  }

  @include bpf($min: $m) {
    top: 295px;
  }
}
//-----------------------------CART PAGE----------------------------//
//Cart-left---------------------------------------------------------
#cart {
  @include container;
  display: flex;
  gap: 4%;
  justify-content: space-between;

  @include bpf($max: $m) {
    @include column;
    gap: $space-l;
  }

  .cart-left {
    width: 60%;

    @include bpf($max: $m) {
      width: 100%;
    }
  }
  .cart-product {
    &_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 20px 24px;

      .top-text {
        font-style: italic;
      }
    }

    &_bottom {
      display: flex;
      gap: $space-m;
      background-color: #fff;
      padding: $space-s $space-m;
      justify-content: space-between;
      height: max-content;
      border-top: solid 1px #e0e0e0;

      .bottom-img {
        background-color: $card-color;
        background-image: url("img/mask-product.png");
        background-size: auto;
        width: 200px;

        @include bpf($max: $s) {
          height: 80px;
        }
      }

      .bottom-informations {
        @include column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        @include bpf($max: $s) {
          gap: 20px;
        }

        &_top {
          .title {
            font-family: $font-title;
            font-size: $h3;

            @include bpf($max: $s) {
              font-size: $text;
            }
          }
          .price {
            font-weight: $weight-600;
          }
        }

        &_bottom {
          display: flex;
          align-items: flex-end;
          width: 100%;
          justify-content: space-between;

          .counter {
            @include counter;
          }
        }
      }
    }

    &_button {
      width: fit-content;
      margin-top: $space-l;

      @include bpf($max: $s) {
        margin-bottom: $space-l;
        width: auto;
      }
    }
  }

  .cart-summary {
    width: 30%;
    background-color: #fff;
    border-radius: 0 4px;

    @include bpf($max: $m) {
      width: 100%;
    }

    .cart-summary_title {
      color: #fff;
      background-color: #214521;
      padding: $space-m;
      border-radius: 0 $ext 0 $ext;
      @include alignCenter;
    }

    .cart-summary_group {
      border-bottom: solid 1px #e0e0e0;
      padding: $space-m;
    }

    .group-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .icon-plus {
      height: 16px;
    }

    .cart-summary_button {
      width: fit-content;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: $space-m;
    }

    .cart-summary_payment {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: $space-m;
      gap: $space-m;
      margin-top: $space-l;
    }
    .payment-icon-first-line {
    }
  }
}
